.add-post {
  margin-bottom: 3rem;
  box-shadow: 0 15px 25px rgba($black, .45);
  background-color: $secondary;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }
  &__form {
    display: flex;
    align-items: flex-end ;
  }
  &__textarea {
    flex-grow: 1;
    display: block;
    width: 80%;
    font-size: 1.2rem;
    color: $white;
    font-family: inherit;
    border: none;
    background: transparent;
    resize: none;
    height: 32px;
    overflow: hidden;
    &::placeholder {
      color: #d2d2d2;
    }
  }
  &__form-actions {
    display: flex;
    justify-content: flex-end;
    width: 12rem;
    flex-shrink: 0;
    @include breakpoint($mobile-bp) {
      width: 9rem;
    }
  }
  &__file, &__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: background-color .2s linear;
    @include breakpoint($mobile-bp) {
      width: 3.4rem;
      height: 3.4rem;
      background-size: 11px;
    }
  }
  &__file {
    background: #ebebeb
      url("../images/add-photo.svg") center no-repeat;
    input {
      display: none;
    }
    &:hover {
      background-color: darken(#ebebeb, 10%);
    }
    @include breakpoint($mobile-bp) {
      background-size: 18px;
    }
  }
  &__send {
    font-size: 0;
    color: transparent;
    background: $blue 
      url("../images/send.svg") center no-repeat;
    margin-left: 1.5rem;
    &:hover {
      background-color: darken($blue, 10%);
    }
    @include breakpoint($mobile-bp) {
      background-size: 15px;
    }
  }
}